td {
    border: 1px solid wheat;
    background: bisque;
    /*выравнивание текста по центру*/
    text-align: center;
}
th{
    border: 1px solid darkorchid;
    /*Цвет фона*/
    background:burlywood;
    color: rosybrown;
}
header {
    /*Ширина*/
    width: 80%;
    background: #E6E6FA;
    /*Высота*/
    height: 70px;
    /*Внешние отступы*/
    margin: auto;
    /*Текст по центру*/
    text-align:center;
    /*Способ отображения элементов внутри этого тега*/
    display: flex;
    /*Распределение элементов внутри*/
    justify-content: space-around;
    /*Выравнивание элементов по вертикали*/
    align-items :middle;
}
body {
    background:#EE82EE;
    margin: 0;
}
#left {
    /*Поворот стрелки*/
    transform: rotate(180deg);
    width:64px;
}
#right {
    width: 64px;
}
main {
 width: 80%;
 margin: auto;
}